@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600 focus:bg-blue-400;
}
.btn--grey {
  @apply bg-slate-500;
}

.shadow-top {
  box-shadow: 0 -28px 69px 43px rgba(0, 0, 0, 0.4);
}

.bg-noise {
  background-image: url("/img/bg-noise.svg");
}

details[open] summary ~ * {
  @apply transition-transform origin-top;
  animation: spoiler 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes spoiler {
  0%    {transform: scaleY(0);}
  100%  {transform: scaleY(1);}
}